body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.3s ease;
}

#return {
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    top: 50px;
    left: 90%;
}

.title {
    text-align: center;
    font-size: 22px;
    color: hotpink;
}

.post-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    line-height: 2;
}

#postHere div {
    background-color: pink;
    padding: 13px 22px;
    margin: 5px 5px;
    text-align: left;
}

#postHere h3 {
    font-size: small;
}

#postHere h2 {
    font-size: medium;
    text-decoration: underline;
}

#postHere p {
    font-size: smaller;
    background-color: aliceblue;
    padding: 9px;
}