body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.light-mode {
    background-color: #ffffff;
    color: #333333;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.toggle-container {
    display: absolute;
    top: 10px;
    left: 10px;
    max-width: 5%;
    padding: 10px;
}

.toggle-container label {
    text-align: center;
}

.toggle-container {
    display: inline;
    align-self: left;
}